/* #22c55e rgba(34, 197, 94, 1) */
/* #34ce6c rgba(52, 206, 108, 1) */
/* #4ade80 rgba(74, 222, 128, 1) */
/* #5fde8d rgba(99, 222, 141, 1) */
/* #bbf7d0 rgba(187, 247, 208, 1) */

body {
    background-image: url('/img/bg.png');
}

.BarGraph {
    background-color:  rgba(255, 255, 255, 0.7) !important;
}

.BarGraph .graphTitle {
    width: auto;
}

.BarGraph .graphMain {
    flex-grow: 1;
    width: auto;
    height: auto;
}

.history {
    height: 100%;
    width: auto;
    background-color:  rgba(255, 255, 255, 0.7) !important;
}

.history .historyTitle {
    padding: 0;
}

.history .historyTitleText {
    margin: 0;
    padding: 0 10px;
    color: #333;
    font-size: 16px;
}

.listItem  {
    display: flex;
    flex-direction: column;
    background-color: #fdfd96;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 0.2s;
    position: relative;
}

.listItem:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.itemLink {
    color: black;
    text-decoration: none;
}

.itemLink:hover {
    color: black;
    text-decoration: underline;
}

.listPrice {
    text-align: right;
}

.switch-nav ul  {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.switch-nav ul li {
    text-align: center;
    position: relative;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.switch-nav ul li:not(.active) {
    background-color: #22c55e; 
    z-index: 1;
}

.switch-nav ul li.active {
    background-color: #fafafa;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    z-index: 10;
}

.switch-nav ul li:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.switch-nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.switch-nav ul li:not(.active) a {
    color: #ffffff; 
}

.switch-nav ul li.active a {
    color: #000000 ; 
}

.switch-nav ul li a:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.switch-nav ul li.active a:hover {
    background-color: #fafafa;
    color: #a2a2a2;
}

.switch-nav ul li:not(.active) a:hover {
    background-color: #34ce6c;
    color: #ffffff;
}

.createBox {
    background-color: #fafafa;
    height: auto;
    max-height: calc(100vh - 250px);
    overflow-y: auto; 
    border: 2px solid #000000;
    margin-top: -2px;
    position: relative;
    z-index: 5;
}

.editBox {
    background-color: rgba(255, 255, 255, 0.7);
    height: auto;
    max-height: calc(100vh - 200px);
    overflow-y: auto; 
}

.form-item, .form-category, .form-price, .form-amount {
    flex: 1;
}

#formListBlock .formList:first-of-type .remove-form {
    visibility: hidden;
}

.calendarContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.calendarTable {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: 18px auto;
    border-collapse: collapse;
}

.calendarTable th, .calendarTable td {
    border: 1px solid #ccc;
    width: 14.28%;
    height: 95px;
    vertical-align: top;
    position: relative;
}

.calendarTable th {
    background-color: #f8f9fa;
    font-size: 12px;
    text-align: center;
    padding: 0px 5px;
    height: auto;
}

.calendarTable td {
    background-color: #ffffff;
    padding: 5px;
}

.day-number {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: #666;
}

.controls {
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.calendarTitle button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* 土曜日の列を青く */
.calendarTable th:nth-child(7) { /* 土曜日の列ヘッダー */
    background-color: #cce5ff !important; /* 青色背景 */
}

.calendarTable td:nth-child(7) { /* 土曜日の列セル */
    background-color: #e1eefd; /* 青色背景 */
}

.calendarTable th:nth-child(7) {
    color: #4d96e3 !important;
}

/* 日曜日の列を赤く */
.calendarTable th:nth-child(1) { /* 日曜日の列ヘッダー */
    background-color: #f8d7da !important; /* 赤色背景 */
}

.calendarTable td:nth-child(1) { /* 日曜日の列セル */
    background-color: #fceaec; /* 赤色背景 */
}

.calendarTable th:nth-child(1){
    color: #dc5763 !important;
}

.today {
    background-color: #ffeb3b !important;
    color:#d32f2f !important;
    font-weight: bold;
}

.searchTable {
    width: 750px;
}

.searchTable .searchLabel {
    padding-right: 20px;
}

.keywordLabelList {
    border-top: 1px solid #4ade80;
    border-right: 1px solid #4ade80;
    background-color: #4ade80;
    padding: 10px;
    color: #ffffff;
}

.itemLabel,.shopLabel,.memoLabel {
    border-top: 1px solid #4ade80;
    background-color: #4ade80;
    padding: 10px;
    color: #ffffff;
}

.priceLabel,.dateLabel {
    border-top: 1px solid #FFFFFF;
    background-color: #4ade80;
    padding: 10px;
    color: #ffffff;
}

.categoryLabel {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #4ade80;
    background-color: #4ade80;
    padding: 10px;
    color: #ffffff;
}

.itemKeywordInput,.priceInput,.dateInput {
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid #22c55e;
    border-right: 1px solid #22c55e;
    padding: 10px;
}

.shopKeywordInput,.memoKeywordInput {
    background-color: rgba(255, 255, 255, 0.7);
    border-right: 1px solid #22c55e;
    padding: 10px;
}

.categoryInput  {
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid #22c55e;
    border-bottom: 1px solid #22c55e;
    border-right: 1px solid #22c55e;
    padding: 10px;
}

.logContainer {
    max-height: calc(100vh - 150px);
    overflow-y: auto; 
}

.searchTable .form-price,.form-date {
    position: relative;
    display: inline-block;
    width: 100%;
}

.searchTable #minPrice,#maxPrice {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    box-sizing: border-box;
}

.searchTable .from-to {
    margin: 0 6px;
}

.searchTable .yen {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #666;
}

.searchResultDisplayFormat {
    list-style: none;
    margin: 0; 
    padding: 0; 
    gap: 20px;
}

.checkbox {
    margin-right: 10px;
}

.selected-category {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #e1feeb;
    border: 1px solid #8ef8b5;
    border-radius: 15px;
} 

.selected-category button {
    border: none;
    background: transparent;
    color: #f44336;
    margin-left: 5px;
}

.selected-categories-container {
    overflow-y: auto;
    max-height: 70px;
}

.searchForm.collapse {
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10; 
}

.categoryHeading {
    font-weight: bold;
}

.main-category {
    font-weight: bold;
}

.ui-datepicker {
    z-index: 1051 !important; /* Bootstrapのmodal(1050)より上にする */
}

.logBox {
    background-color:  rgba(255, 255, 255, 0.7) !important;
}

.logDetailContainer {
    max-height: calc(100vh - 150px);
    overflow-y: auto; 
    background-color: rgba(255, 255, 255, 0.7);
}