main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
}

body {
    background-image: url('../img/login_bg.png');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

img.logo {
    display: inline;
}

.loginBox .formContainer {
    background-color: rgba(250, 250, 250, 0.95);
    width: 300px;
    margin: auto;
    border-radius: 5px;
}

.registerBox .formContainer {
    background-color: rgba(250, 250, 250, 0.95);
    width: 450px;
    margin: auto;
    border-radius: 5px;
}

.registerBox .form-label {
    text-align: justify;
    width:200px;
}

.formContainer .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
    max-width: 290px;
}

.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.custom-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.additionalLinks {
    background-color: rgba(232, 232, 232);
}