@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;700&display=swap');

body {
    background-image: url('../images/bg.png');
}

.container-fluid {
    display: flex;
}

.yearGraph {
    height: auto;
    width: auto;
}

.yearGraph .graphTitle {
    width: auto;
}

.yearGraph .graphMain {
    flex-grow: 1;
    width: auto;
}

.history {
    height: 100%;
    width: auto;
}

.history .historyTitle {
    padding: 0; /* パディングをリセット */
}

.history .historyTitle-noData {
    height: 83px; /* 固定の高さを設定 */
    display: flex; /* フレックスボックスで中央揃え */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */
    margin-bottom: 10px; /* 下に余白を追加 */
    padding: 0; /* パディングをリセット */
}

.history .historyTitleText {
    margin: 0; /* 余白をリセット */
    padding: 0 10px; /* テキスト周囲に少し余白を追加 */
    /* font-weight: bold; 太字にして目立たせる */
    color: #333; /* 濃い灰色で視認性を高める */
    font-size: 16px; /* 適度なフォントサイズ */
    /* line-height: 1.5; 行の高さを調整 */
}

.history .historyList-noData {
    display: flex;
}

.listItem  {
    display: flex;
    flex-direction: column;
    background-color: #fdfd96; /* 付箋のような淡い黄色 */
    border-radius: 5px; /* 角を丸めて付箋風に */
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); /* 立体感のための影 */
    transition: transform 0.2s, box-shadow 0.2s; /* ホバー時のアニメーション */
    position: relative;
}

.listItem:hover {
    transform: translateY(-2px); /* ホバー時に少し浮かせる */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* ホバー時に影を強くする */
}

.itemLink {
    color: black;           /* リンクを黒色にする */
    text-decoration: none;  /* 下線を消す */
}

.itemLink:hover {
    color: black;           /* ホバー時も黒色を維持する */
    text-decoration: underline;  /* ホバー時に下線を追加（オプション） */
}

.listPrice {
    text-align: right; /* 右詰にする */
}

.switch-nav ul  {
    list-style: none;
    margin: 0;
    padding: 0;
}

.switch-nav ul li {
    text-align: center;      /* テキストを中央揃え */
    width: 33%;
}

.switch-nav ul li.outcome {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.switch-nav ul li.income {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.switch-nav ul li:not(.active) {
    background-color: #ffffff; /* デフォルトの背景色を白に設定 */
}

.switch-nav ul li.active {
    background-color: #bbf7d0; /* activeクラスの背景色を薄い緑色に設定 */
}

.switch-nav ul li.outcome:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.switch-nav ul li.income:hover {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.switch-nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;  /* 下線を消す */
}

.switch-nav ul li:not(.active) a {
    color: #000000;            /* リンクの色を黒に設定 */
}

.switch-nav ul li.active a {
    color: #49c54f ;            /* リンクの色を黒に設定 */
}

.switch-nav ul li.active a:hover {
    background-color: #dcfce7;
    color: #81cc85;
}

.switch-nav ul li:not(.active) a:hover {
    background-color: #fafafa;
    color: #a2a2a2;
}

.switch-nav ul li.outcome a:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.switch-nav ul li.income a:hover {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.createBox {
    background-color: rgba(250, 250, 250, 0.95);
    height: auto; /* フォームに応じて自動で広がる */
    max-height: calc(100vh - 200px);
    overflow-y: auto; /* 縦スクロールを有効化 */
}

.form-item, .form-category, .form-price, .form-amount {
    flex: 1; /* 各要素が同じ幅になる */
}

#formListBlock .formList:first-of-type .remove-form {
    visibility: hidden;
}

.calendarContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.calendarTable {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
}

.calendarTable th, .calendarTable td {
    border: 1px solid #ccc;
    width: 14.28%;
    height: 70px;
    vertical-align: top;
    position: relative;
}

.calendarTable th {
    background-color: #f8f9fa;
    font-size: 12px;
    text-align: center;
    padding: 0px 5px;
    height: auto;
}

.calendarTable td {
    background-color: #fff;
    padding: 5px;
}

.day-number {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    color: #666;
}

.controls {
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.calendarTitle button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* 土曜日の列を青く */
.calendarTable th:nth-child(7) { /* 土曜日の列ヘッダー */
    background-color: #cce5ff !important; /* 青色背景 */
}

.calendarTable td:nth-child(7) { /* 土曜日の列セル */
    background-color: #e1eefd; /* 青色背景 */
}

.calendarTable th:nth-child(7) {
    color: #4d96e3 !important;
}

/* 日曜日の列を赤く */
.calendarTable th:nth-child(1) { /* 日曜日の列ヘッダー */
    background-color: #f8d7da !important; /* 赤色背景 */
}

.calendarTable td:nth-child(1) { /* 日曜日の列セル */
    background-color: #fceaec; /* 赤色背景 */
}

.calendarTable th:nth-child(1){
    color: #dc5763 !important;
}

.today {
    background-color: #ffeb3b !important; /* 明るい黄色の背景 */
    color:#d32f2f !important;
    font-weight: bold;
}
