@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;700&display=swap');

/* #22c55e rgba(34, 197, 94, 1) */
/* #4ade80 rgba(74, 222, 128, 1) */
/* #5fde8d rgba(99, 222, 141, 1) */
/* #bbf7d0 rgba(187, 247, 208, 1) */

body {
    background-image: url('../images/bg.png');
    height: 100vh; /* 高さを100%に設定 */
    display: flex; /* フレックスボックスを有効化 */
    justify-content: center; /* 横方向に中央揃え */
    align-items: center; /* 縦方向に中央揃え */
    margin: 0; /* 余白をリセット */
}

main {
    width: 100%;
    display: flex;
}

.container-fluid {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.searchBox {
    width: 100%; /* 横幅を全体に広げる */
    display: flex; /* Flexboxを適用 */
    justify-content: center; /* 横方向の中央揃え */
    align-items: center; /* 縦方向の中央揃え */
}

.searchBox .formContainer {
    margin: 0 auto;
    justify-content: center; /* y軸方向も必要なら中央揃え */
}

.searchTable .searchLabel {
    padding-right: 40px;
}

.keywordLabelList {
    border-top: 1px solid #4ade80;
    border-right: 1px solid #4ade80;
    background-color: #4ade80;
    padding: 10px;
    color: #ffffff;
}

.itemLabel,.shopLabel,.memoLabel {
    border-top: 1px solid #4ade80;
    background-color: #4ade80;
    padding: 10px;
    color: #ffffff;
}

.priceLabel,.dateLabel,.categoryLabel {
    border-top: 1px solid #FFFFFF;
    background-color: #4ade80;
    padding: 10px;
    color: #ffffff;
}

.displayFormatLabel {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #4ade80;
    background-color: #4ade80;
    padding: 10px;
    color: #ffffff;
}

.itemKeywordInput,.priceInput,.dateInput,.categoryInput {
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid #22c55e;
    border-right: 1px solid #22c55e;
    padding: 10px;
}

.shopKeywordInput,.memoKeywordInput {
    background-color: rgba(255, 255, 255, 0.7);
    border-right: 1px solid #22c55e;
    padding: 10px;
}

.displayFormatInput {
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid #22c55e;
    border-bottom: 1px solid #22c55e;
    border-right: 1px solid #22c55e;
    padding: 10px;
}

.formBtnGroup {
    padding: 10px;
}

.searchTable .form-price,.form-date {
    position: relative;
    display: inline-block;
    width: 200px; /* 必要に応じて調整 */
}

.searchTable #minPrice,#maxPrice {
    width: 100%;
    padding-left: 30px; /* ¥記号のスペース分 */
    padding-right: 10px; /* 余白調整 */
    box-sizing: border-box;
}

.searchTable .from-to {
    margin: 0 6px;
}

.searchTable .yen {
    position: absolute;
    left: 16px; /* ¥記号の位置調整 */
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px; /* フォントサイズを調整 */
    color: #666;
}

.searchResultDisplayFormat {
    list-style: none; /* 点を削除 */
    margin: 0; /* デフォルトの余白を削除 */
    padding: 0; /* デフォルトのパディングを削除 */
    display: flex; /* 子要素を横並びに */
    gap: 20px; /* 各リストアイテム間のスペース */
}

.DisplayFormat-li {
    display: flex; /* 子要素を横並びに */
    align-items: center; /* 縦方向を中央揃え */
}

.checkbox {
    margin-right: 10px; /* テキストとの間隔を設定 */
}

.searchForm.collapse {
    top: 100%; /* 親要素の直下に配置 */
    left: 0;
    width: 100%; /* 親要素に合わせる */
    z-index: 10; /* 必要に応じて他の要素より前面に表示 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* ドロップシャドウ（オプション） */
}